.routesDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
}

.button {
  width: 100% !important;
  margin: 10px 0 !important;
  padding: 10px !important;
  background-color: #ffffff !important;
  text-align: center !important;
  color: rgb(80, 80, 80) !important;
  border-radius: 0 !important;
  padding-bottom: 5px !important;
  letter-spacing: 0.1rem;
}
