@media (max-width: 1440px) {
  .product__content {
    margin-left: 40px;
  }
}
.product__content {
  flex: 1 0 540px;
  margin-left: 90px;
  max-width: 540px;
}
.product__title {
  font-size: 20px;
  line-height: 26px;
  color: #383838;
  margin: 0 0 12px;
  text-align: left;
}
.h1,
h1 {
  font-size: 50px;
  line-height: 50px;
  color: #383838;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
}
.product__content-inner .product__title span {
  float: right;
}
.product__title span {
  color: #b1b1b1;
  font-size: 14px;
}
.product__price {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.product__price-old {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on;
  color: #b1b1b1;
  margin-right: 17px;
  white-space: nowrap;
}
.product__price-current {
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on;
  color: #383838;
  white-space: nowrap;
}
.product__price-discount {
  margin-left: 12px;
  background: #e2e6e8;
  padding: 3px 5px 2px;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #383838;
}
.product__price-bonuses {
  margin-left: 12px;
  display: flex;
  align-items: center;
  color: grey;
  background: #e2e6e8;
  padding: 0 7px;
  height: 22px;
  cursor: pointer;
}
.product__price-bonuses_text {
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 3px;
}
.product__colors-list {
  display: flex;
}
.product__colors-item:first-child {
  margin-left: 0;
}
.product__colors-item {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 23px;
  cursor: pointer;
}
.product__colors-item span {
  width: 9px;
  height: 9px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}
.product__colors-title {
  margin-top: 13px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #383838;
}
.product__sizes {
  margin-bottom: 30px;
}
.product__sizes-list {
  display: flex;
  margin-bottom: 20px;
}
.product__sizes-item:first-child {
  margin-left: 0;
}
.size.active {
  background: #383838;
  color: #fff;
}
.size {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f7f7f7;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on, 'case' on, 'cpsp' on;
  color: #383838;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
}
.size-ru {
  margin-top: 1px;
}
.product__sizes-item {
  margin-left: 10px;
}
.product__sizes-link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #383838;
}
.product__sizes-link span {
  cursor: pointer;
  position: relative;
}
.product__sizes-link span:after {
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  background: #383838;
  width: 100%;
  bottom: 2px;
}
.product__actions {
  margin-bottom: 30px;
}
.product__actions-line:first-child {
  margin-top: 0;
  display: flex;
}
.product__actions-button {
  width: 300px;
}
.ui-button.ui-button-dark {
  color: #fff;
  background: #232323;
}
.ui-button.ui-button-wide {
  width: 100%;
}
.ui-button:not([disabled]) {
  cursor: pointer;
}
.product__actions-button .ui-button {
  height: 40px;
}
.ui-button {
  min-width: 88px;
  height: 48px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #383838;
}
.ui-button,
.ui-button-clean {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  outline: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.ui-button .ui-ripple {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-ripple {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle, #fff 100%, #000 0);
  mask-image: radial-gradient(circle, #fff 100%, #000 0);
}
.ui-button-content {
  position: relative;
  z-index: 2;
}
.product__actions-additional {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.product__favorites {
  display: flex;
  align-items: center;
  color: transparent;
  cursor: pointer;
  color: #383838;
}
.product__favorites svg {
  display: block;
}
