.footerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: nowrap;
  padding: 20px;
  margin: 100px 0 40px;
}

.footerSection {
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 290px;
}

.logoContainer {
  height: 40px;
  width: 300px;
}

.footerSection:last-child {
  margin-left: 0;
}

.footerTitle {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: gray;
  display: flex;
  margin: 0 auto 15px;
}

.footerTitle img {
  margin-bottom: -8px;
}

.footerSection:last-child .footerTitle {
  justify-content: center;
}

.footerItem {
  margin-bottom: 5px;
  color: #444444;
  display: flex;
  margin: 0 auto;
}

.footerSection:last-child .footerItem {
  justify-content: space-evenly;
}

.logoContainer {
  padding: 10px;
}

.footerItem img {
  text-decoration: none;
  color: #383838;
  display: flex;
  justify-content: space-evenly;
  margin: 8px 20px;
}

@media screen and (min-width: 1101px) and (max-width: 1450px) {
  .logoContainer > img {
    margin-right: 20px;
  }

  .footerSection:last-child {
    margin-left: -40px;
  }
}

@media screen and (min-width: 636px) and (max-width: 1100px) {
  .footerContainer {
    flex-wrap: wrap;
    max-width: 80vw;
    align-items: normal;
    margin: 0 auto;
  }

  .footerSection {
    max-width: 200px;
  }

  .footerSection:last-child {
    margin: 0 auto;
  }

  .footerSection:last-child .footerTitle {
    justify-content: start;
  }

  .footerSection:last-child .footerItem {
    justify-content: start;
  }

  .footerSection:nth-last-child(2) {
    margin: 0 auto;
  }

  .footerSection:nth-last-child(2) .footerTitle {
    justify-content: center;
  }

  .footerSection:nth-last-child(2) .footerItem {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 636px) and (max-width: 775px) {
  .footerContainer {
    max-width: 100vw;
  }
}

@media (max-width: 636px) {
  .footerContainer {
    max-width: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .footerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
  }

  .footerSection:nth-last-child(2) {
    margin: 0 auto;
  }

  .footerSection .footerTitle {
    justify-content: center;
  }

  .footerSection .footerItem {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footerSection:last-child .footerTitle {
    justify-content: center;
  }

  .footerSection:last-child .footerItem {
    justify-content: center;
    text-align: center;
  }
}
