.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.userInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  color: rgb(229, 229, 229);
}


