.menu {
  margin-top: 20px;
  transition: top 0.5s;
  transition: all 0.3s;
}

.submenu,
.menu {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding: 0;
}

.menu > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 18px 0 0;
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.menu > li:hover {
  color: black;
}

.menu.fix {
  margin-top: 9px;
}

.menuItem {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 22px;
  left: -18px;
  background-color: white;
  width: max-content;
  list-style-type: none;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: opacity 0.2s ease-in-out, top 0.5s;
}

.menuItem:hover .dropdownMenu {
  display: block;
  right: 20px;
  animation: showSubmenu 0.2s ease-in-out forwards;
}
.dropdownMenuItem {
  padding-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  padding-top: 10px;
}
@keyframes showSubmenu {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideSubmenu {
  from {
    opacity: 1;
    pointer-events: auto;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
