.menu {
  margin-top: 23px;
  transition: all 0.3s;
}
.submenu,
.menu {
  display: inline-block;
  vertical-align: top;
  list-style: none;

  padding: 0;
}
.menu > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 18px 0 0;
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.menu.fix {
  margin-top: 9px;
}
