.mainDiv {
  width: 80%;
  min-height: 550px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.routesDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
}

.elContainer {
  margin: 0 auto;
  width: 100%;
}

.button {
  width: 100% !important;
  margin: 10px 0 !important;
  padding: 10px !important;
  background-color: #ffffff !important;
  text-align: center !important;
  color: rgb(80, 80, 80) !important;
  /* font-size: large; */
  border-radius: 0 !important;
  padding-bottom: 5px !important;
}

.button:active,
.button:focus {
  border-bottom: 1px solid black !important;
}

@media (max-width: 820px) {
  .routesDiv {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 550px) {
  .routesDiv {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
