.vidContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1350px;
}

.vid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
  z-index: 0;
}

.stockContainer {
  margin-left: auto;
  margin-right: auto;
  width: 81.5%;
  margin-bottom: 50px;
}

.stockContainer .slickList {
  margin-left: auto;
  margin-right: auto;
}

.blocksContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.collectionContainerMain {
  width: 49%;
  height: 70vh;
  position: relative;
}

.latestContainer {
  width: 49%;
  height: 70vh;
  position: relative;
}

.textImgMain {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}

.imageMain {
  display: block;
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  transition: filter 0.3s ease;
}

.imageMain:hover {
  filter: brightness(100%);
}

.catalogNav {
  height: 25vh;
  position: relative;
}

.mainLink {
  text-decoration: none;
  height: fit-content;
}

.catalogNavText {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
  margin-top: 15px;
}

.imgToCat {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  transition: filter 0.3s ease;
}

.imgToCat:hover {
  filter: brightness(80%);
}

@media (max-width: 599px) {
  .vidContainer {
    height: 100vh;
    width: 100%;
  }

  .textImgMain {
    font-size: 1.3rem;
  }

  .collectionContainerMain {
    height: 50vh;
  }

  .latestContainer {
    height: 50vh;
  }
  .catalogNav {
    height: 13vh;
  }
  .catalogNavText {
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .stockContainer {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .stockContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .collectionContainerMain {
    height: 60vh;
  }

  .latestContainer {
    height: 60vh;
  }
  .catalogNav {
    height: 20vh;
    position: relative;
  }
}
