.bestContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.best {
  display: block;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

.textImg {
  position: absolute;
  color: white;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}

.textImg span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.textImg button {
  display: block;
  background-color: transparent;
  padding: 10px;
  font-size: 1.4rem;
  color: #fff;
  border: 1px solid #fff;
}

.textImg button:hover {
  background-color: #fff;
  color: #0000007c;
  border: 1px solid #0000007c;
}

.stockContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.blocksContainer {
  display: flex;
  justify-content: space-between;
  /* margin: 20px 0; */
}

.collectionContainerMain {
  width: 50%;
  height: 100vh;
  position: relative;
}

.latestContainer {
  width: 50%;
  height: 100vh;
  position: relative;
}

.textImgMain {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}

.textImgMain span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.textImgMain button {
  display: block;
  background-color: transparent;
  padding: 10px;
  font-size: 1.4rem;
  color: #fff;
  border: 1px solid #fff;
}

.textImgMain button:hover {
  background-color: #fff;
  color: #0000007c;
  border: 1px solid #0000007c;
}

.imageMain {
  display: block;
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
  height: 100%;
}

.mapNav {
  height: 25vh;
  position: relative;
}

.mapNavText {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 1;
  /* margin-top: 15px; */
  text-align: center;
}

.mapNavTextSmall {
  display: block;
  font-size: 1.1rem;
  border: 1px solid #fff;
  padding: 5px;
  padding-right: 7px;
  margin-top: 5px;
}

.imgToMap {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

@media (max-width: 599px) {
  .bestContainer {
    height: 100vh;
    width: 100%;
  }

  .textImg {
    font-size: 1.3rem;
    top: 50%;
    width: 70%;
    text-align: center;
  }

  .textImgMain {
    font-size: 1.3rem;
    width: 70%;
    text-align: center;
  }

  .blocksContainer {
    flex-direction: column;
  }

  .collectionContainerMain {
    height: 100vh;
    width: 100%;
  }

  .latestContainer {
    height: 100vh;
    width: 100%;
  }

  .stockContainer {
    justify-content: flex-start;
  }

  .mapNavText {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .stockContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .blocksContainer {
    flex-direction: column;
  }

  .collectionContainerMain {
    height: 100vh;
    width: 100%;
  }

  .latestContainer {
    height: 100vh;
    width: 100%;
  }

  .textImg {
    top: 50%;
  }
}
